DJANGO_SETTINGS_MODULE=healtech.settings.local
CELERY_BROKER_URL=amqp://broker:5672//
REDIS_URL=redis://result:6379
# Please choose postgres or sqlite as your DB:
# DATABASE_URL=postgres://healtech:password@db:5432/healtech
# DATABASE_URL=sqlite:///db.sqlite3
